[Unit] 
Description=oozie service
After=network.target 
 
[Service] 
User=ubuntu 
Group=www-data
Environment=JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64/jre
ExecStart=/bin/sh -c '/usr/local/oozie/bin/oozied.sh start'
 
[Install] 
WantedBy=multi-user.target